@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap');
@font-face {
    font-family: 'Quattrocento';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/quattrocento/v14/OZpEg_xvsDZQL_LKIF7q4jHCjCM.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Quattrocento';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/quattrocento/v14/OZpTq_xvsDZQL_LKIF7q4jHCjCM4j9E.ttf) format('truetype');
  }
  
  body {
    font-family: 'Quattrocento', sans-serif;
  }

  *{
    margin:0;
    padding:0;
    justify-content: space-between;
    box-sizing:border-box;
    font-family: "Quattrocento", sans-serif;
  }


/* Body */
body {
    height: 100vh; 
    background-size: 1920px 1080px;
    background-position: center;
    background-color: #ffffff;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }


/* Navbar */ 
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 5%px;
  margin-right: calc(100vw - 100%);
  max-width: 100%
}

.logo {
  display: flex;
  align-items: center;
}

.logo img{
  width: 200px; 
  height: auto; 
  margin-right: 5px; 
  margin-top: 25%;
  margin-left: 10px; 
  transition: all 0.3s ease;
  

}

.logo.clicked img {
  margin-right: 5%;
  margin-left: 10%;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 10% 0 0;
    margin-right: 20px;
    margin-top: 5%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color:rgba(0, 0, 0, 0.692) ;
    border-radius: 20px; 
    
    
  }
  .rectangle {
    height: 50px;
    width: 100px;
    background-color: #000000;
    position: absolute;
    right: 0;
    margin-right: 20px
  }

.navbar ul li{
  list-style: none;
}

.navbar ul li a{
    text-decoration: none;
    color: #E8772E;
    font-size: 20px;
    margin-right: 5vw;
    transition: color 0.3s ease;
  }
.navbar ul li:hover a{
  color: #BA3B0A;
}

.navbar ul li:last-child a{
  margin-right: 0;
}


@media (max-width: 768px) {
  .navbar ul {
      padding: 0 5vw;
      margin-right: 10vw;
  }

  .logo img {
      width: 150px;
  }

}


@media (min-width: 992px) {
  .navbar ul {
      padding: 0 10vw;
      margin-right: 20vw;
  }

  .logo img {
      width: 250px;
  }

}


@keyframes popUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    font-family:'Quattrocento', sans-serif;
    transform: translateY(0);
  }
}




.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5em;
  }
  
  .menu {
    font-family: "Inter", sans-serif;
    font-size: 14px;
  }
  
  .menu-group-heading {
    margin-top: 70px;
    padding-bottom: 1em;
    border-bottom: 2px solid #ccc;
  }
  
  .menu-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    padding: 1.5em 0;
  }
  
  .menu-item {
    display: flex;
    
  }
  
  .menu-item-image {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 1.5em;
  }
  
  .menu-item-text {
    flex-grow: 1;
    padding-left: 8px;
  }
  
  .menu-item-heading {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  
  .menu-item-name {
    margin-right: 1.5em;
  }
  
  .menu-item-description {
    line-height: 1.6;
  }
  
  @media screen and (min-width: 992px) {
    .menu {
      font-size: 16px;
    }
  
    .menu-group {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .menu-item-image {
      width: 125px;
      height: 125px;
    }

    .footer {
      background-color: #000000;
      padding: 20px;
      text-align: center;
      font-size: 14px;
      color: #ffffff;
  }

  }
  